header {
  background-color:blue;
}

article {
  background-color: green
}

body {
  background-color: darkgrey;
}

.blocks {
  border: solid pink 10px;
}

.inlines {
  border: solid yellow; 
}

.inlineBlock {
  display: inline-block;
  border: solid pink;
}

.text {
  color:rgb(1, 1, 46);
}

#header {
  font-size: 20px;
  color: aqua
}

#big {
  height:100px;
}

#bigger {
  height: 150px;
}
